<nav class="nav">
  <div class="ga-container">
    <%= link_to t('giveaways.nav.giveaways'), giveaways.giveaways_path %>
    <%= link_to t('giveaways.nav.main_app'), Giveaways.main_app_path %>
  </div>
</nav>