.ga-giveaways-admin {
	padding: 0;
	margin: 0;
  		
	background-color: #A92A2A;
      	            
	.ga-page-column {
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		@media (min-width: 750px) {
			width: percentage(11/12);
		}

		@media (min-width: 1000px) {
			width: percentage(10/12);
		}
	}

	.ga-page {
		margin-top: 70px;
		background-color: #fff;
		min-height: 600px;
		padding: 20px 30px;
		border-radius: 3px;
	}

	form #giveaway_description {
		height: 20em;	
	}

	form .row {
		margin-left: -2%;
		margin-right: -2%;
	}

	form .half-column {
		box-sizing: border-box;
		width: 50%;
		padding-left: 2%;
		padding-right: 2%;
		float: left;
	}


	table.giveaways-list {
		@include fullwidth;

		td:nth-child(2), td:nth-child(3) {
			width: 100px;
		}
	}

	table.winners-list, table.entrants-list {
		@include  fullwidth;		
	}


	.label-column {
		width: 20%;
		float: left;
		text-align: right;
	}

	.value-column {
		width: 75%;
		float: left;
		margin-left: 5%;
	}

	.heading-column {
		width: 70%;
		margin-left: 25%;
	}

	nav.nav {
		height: 70px;
		background-color: #fff;
		margin-bottom: 30px;

		 a {
		 	color: #222;
			text-decoration: none;
			line-height: 70px;
			font-size: 18px;
			margin-right: 20px;

			&:hover {
				text-decoration: underline;
			}
		}
	}



	.tabs {
		list-style: none;
		margin: 0 -10px 30px;
		border-bottom: 1px solid #ccc;

		> li {
			margin: 0 5px;
			display: inline-block;
			margin-bottom: -1px;

			a {
				display: block;
				padding: 5px 20px;
				text-decoration: none;
				color: #aaa;

				&:hover {
					color: #222;
				}
			}
		}

		> li.active {
			border-width: 1px 1px 0 1px;
			border-color: #ccc;
			border-style: solid;
			background: #fff;

			a {
				color: #222;
			}

		}
	}

	footer { height: 160px; }
}