<div class="ga-container">
  <div class="entry-panel-column">
      <div class="entry-panel">
        <h1 class="entry-title"><%= t('giveaways.entrants.not_confirmed_email') %></h1>
      </div>
    </div>
  </div>
</div>