<div class="ga-container">
  <div class="entry-panel-column">
    <div class="entry-panel">
      <h1 class="entry-title">Thank you for entering</h1>
      <div class="entry-description">
        <%= sanitize @giveaway.thank_you_message %>
      </div>
    </div>
  </div>
</div>