<div class="eight columns offset-by-two ">
    <div class="entry-panel">
      <h1 class="entry-title">Thank you</h1>
      <div class="entry-description">
        <%= t('giveaways.entrants.confirmed_email') %>
      </div>
    </div>
  </div>
</div>
