<div class="ga-container">
  <div class="ga-page-column">
    <div class="ga-page">
      <h1 class="page-heading">Edit: <%= @giveaway.title %></h1>

      <%= render 'form' %>
    </div>
  </div>
</div>